<%- include('includes/head') %>

  <%- include('includes/nav') %>

  <%- include('includes/messages') %>

    <section class="p-5 my-5">

      <%- include('includes/loginform') %>

    </section>

    <%- include('includes/footer') %>